{% extends 'base.html.twig' %}

{% block title %}Page d'inscription | Yo{% endblock %}

{% block body %}
    {{ navbar() }}
<div class="main-container">
<div class="form-container">


    <form class="form-register" action="{{ path('app_register') }}" method="post">
    <h1>Créer votre compte</h1>
    {{ form_start(registrationForm) }}
        <div class="flex-column">
            <label>Nom d'utilisateur</label>
        </div>
        
        <div class="inputForm">
        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
        <g id="SVGRepo_iconCarrier"> <path d="M5 21C5 17.134 8.13401 14 12 14C15.866 14 19 17.134 19 21M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#000000" stroke-width="1.08" stroke-linecap="round" stroke-linejoin="round"/> </g>
        </svg>
            {{ form_widget(registrationForm.username, {'attr': {'class': 'input', 'placeholder': 'Entrez votre nom d’utilisateur', 'required': 'required'}}) }}
        </div>
        {{ form_errors(registrationForm.username, { 'attr': {'class': 'error-message'} }) }}

        <div class="flex-column">
            <label>{{ form_label(registrationForm.email) }}</label>
        </div>
        <div class="inputForm">
        <svg width="20px" height="20px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.192"/>
        <g id="SVGRepo_iconCarrier"> <path d="M17.4009 19.2C15.8965 20.3302 14.0265 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12V13.5C21 14.8807 19.8807 16 18.5 16C17.1193 16 16 14.8807 16 13.5V8M16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z" stroke="#000000" stroke-width="1.08" stroke-linecap="round" stroke-linejoin="round"/> </g>
        </svg>
            {{ form_widget(registrationForm.email, {'attr': {'class': 'input', 'placeholder': 'Entrez votre e-mail', 'required': 'required'}}) }}
        </div>
        {{ form_errors(registrationForm.email, { 'attr': {'class': 'error-message'} }) }}

        <div class="flex-column">
            <label>{{ form_label(registrationForm.plainPassword) }}</label>
        </div>
        <div class="inputForm">
        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
        <g id="SVGRepo_iconCarrier"> <path d="M7 10.0288C7.47142 10 8.05259 10 8.8 10H15.2C15.9474 10 16.5286 10 17 10.0288M7 10.0288C6.41168 10.0647 5.99429 10.1455 5.63803 10.327C5.07354 10.6146 4.6146 11.0735 4.32698 11.638C4 12.2798 4 13.1198 4 14.8V16.2C4 17.8802 4 18.7202 4.32698 19.362C4.6146 19.9265 5.07354 20.3854 5.63803 20.673C6.27976 21 7.11984 21 8.8 21H15.2C16.8802 21 17.7202 21 18.362 20.673C18.9265 20.3854 19.3854 19.9265 19.673 19.362C20 18.7202 20 17.8802 20 16.2V14.8C20 13.1198 20 12.2798 19.673 11.638C19.3854 11.0735 18.9265 10.6146 18.362 10.327C18.0057 10.1455 17.5883 10.0647 17 10.0288M7 10.0288V8C7 5.23858 9.23858 3 12 3C14.7614 3 17 5.23858 17 8V10.0288" stroke="#000000" stroke-width="1.08" stroke-linecap="round" stroke-linejoin="round"/> </g>
        </svg>
        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'input', 'placeholder': 'Entrez votre mot de passe','required': 'required'}}) }}
        </div>
        {{ form_errors(registrationForm.plainPassword, { 'attr': {'class': 'error-message'} }) }}


        <div class="flex-row">
            <div>
                {{ form_widget(registrationForm.privacyAccepted, {'attr': {'required': 'required'}}) }}
                <label>{{ form_label(registrationForm.privacyAccepted) }}</label>
            </div>
        </div>
        {{ form_errors(registrationForm.privacyAccepted, { 'attr': {'class': 'error-message'} }) }}

        <button type="submit" class="button-submit">S'inscrire</button>
        
        <p class="p">Tu as déjà un compte ? <a class="span" href="{{ path('app_login') }}" data-turbo="true">Connecte-toi</a></p>
        {{ form_end(registrationForm) }}
    </form>
</div>
</div>

{% if form_errors(registrationForm) %}
    <div class="alert alert-danger">
        {{ form_errors(registrationForm) }}
    </div>
{% endif %}
{% endblock %}


